body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 24px;
    background-color: #4CAF50; /* Title background color */
    color: white; /* Title text color */
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for title */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-grow: 1;
    padding: 20px 10px 10px 10px; /* Add padding to the row */
    box-sizing: border-box;
}
.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.form-column {
    max-width: 300px;
    background-color: #ffffff; /* Form box background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for form box */
    height: fit-content;
}
form {
    display: flex;
    flex-direction: column;
}
label, input, button {
    margin-bottom: 10px;
}
input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049; /* Button hover effect */
}
.scrollable {
    overflow-y: auto;
    max-height: calc(100vh - 200px); /* Adjust based on the height of the title and padding */
    padding-bottom: 20px; /* Extra space at the bottom */
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px; /* Rounded border for cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for cards */
    background-color: #ffffff; /* Card background color */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-title {
    font-size: 24px;
    margin-bottom: 5px;
}
.card-author {
    font-size: 20px;
    color: #555;
}
h3 {
    background-color: #f1f1f1; /* Background color for section titles */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc; /* Border for section titles */
}

.check-button {
    width: 40px;
    height: 40px;

    background: url('../assets/check-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}

.trash-button {
    width: 40px;
    height: 40px;

    background: url('../assets/trash-outline.svg');
    background-size: contain;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.undo-button {
    width: 40px;
    height: 40px;

    background: url('../assets/undo-ouline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
}

.check-button:focus, .trash-button {
    outline: none;
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

.toast.fade-out {
    opacity: 0;
}